//
// @Home page specific styles
//

.Main {
  @include mq($from: tablet) {
    @include col(2/3, $gutter: 0);
  }
  @include mq($from: desktop) {
    @include col(3/4, $gutter: 0);
  }
  margin-top: 45px;
  h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: $color-secondary;
    font-size: 36px;
    margin: 0;
  }
  h3 {
    font-size: 16px;
    margin-top: 1.4rem;
  }
  p {
    font-size: 14px;
    line-height: 18px;
  }
  ul {
    @include sassy-list($color-bodycopy);
    line-height: 24px;
    font-size: 14px;
  }
  &-callout {
    position: relative;
    background: $color-aqua;
    padding: 1rem 9rem 1rem 1rem;
    margin-top: 2rem;
    transition: background 0.3s $authenticMotion;
    h3 {
      color: $color-secondary;
      margin: 0 0 0.6rem 0;
    }
    p {
      margin: 0;
    }
    img {
      position: absolute;
      bottom: 1rem;
      right: 1.8rem;
      width: 104px;
      height: 177px;
      transition: bottom 0.3s $authenticMotion;
    }
    &:hover {
      background: darken($color-aqua, 5%);
      img {
        bottom: 1.8rem;
      }
    }
  }
  &-rates {
    h2 {
      font-weight: 300;
      margin: 3rem 0;
      strong  {
        position: relative;
        padding-left: 1.3rem;
        &:before {
          position: absolute;
          content: '';
          top: -6px;
          left: 0.4rem;
          width: 1px;
          height: 45px;
          background-color: $color-bodycopy;
        }
      }
    }    
  }
}
