//
// @Home page specific styles
//

.Main {
  @include mq($from: tablet) {
    @include col(3/4, $gutter: 1);
  }
  margin-top: 45px;
  h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: $color-secondary;
    font-size: 36px;
    margin: 0;
  }
  h3 {
    font-size: 16px;
    margin-top: 1.4rem;
  }
  p {
    font-size: 14px;
    line-height: 18px;
  }
  ul {
    @include sassy-list($color-bodycopy);
    line-height: 24px;
    font-size: 14px;
  }
  &-callout {
    position: relative;
    background: $color-aqua;
    padding: 1rem 9rem 1rem 1rem;
    margin-top: 2rem;
    transition: background 0.3s $authenticMotion;
    h3 {
      color: $color-secondary;
      margin: 0 0 0.6rem 0;
    }
    p {
      margin: 0;
    }
    img {
      position: absolute;
      bottom: 1rem;
      right: 1.8rem;
      width: 104px;
      height: 177px;
      transition: bottom 0.3s $authenticMotion;
    }
    &:hover {
      background: darken($color-aqua, 5%);
      img {
        bottom: 1.8rem;
      }
    }
  }
  &-rates {
    h2 {
      font-weight: 300;
      margin: 3rem 0;
      strong  {
        position: relative;
        padding-left: 1.3rem;
        &:before {
          position: absolute;
          content: '';
          top: -6px;
          left: 0.4rem;
          width: 1px;
          height: 45px;
          background-color: $color-bodycopy;
        }
      }
    }


    &-table {
      margin: 1em 0;
      min-width: 100%;
      tbody {
        tr {
          opacity: 1;
          transition: background-color 0.1s $authenticMotion;
          &:first-child {
                font-size: 18px;
                font-weight: bold;
          }
          &:nth-of-type(even) {
            background-color: $block-even;
              &:hover {
              background-color: $color-aqua;
              }
          }
          &:nth-of-type(odd) {
            background-color: $block-odd; 
              &:hover {
              background-color: $color-aqua;
              }
          }
        }
      }
      
      th {
        display: none;
        cursor: pointer;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        font-size: 12px;
        &:first-child {
          cursor: default;
        }
      }
      
      td {
        display: block; 
          
        &:first-child {
          padding-top: 1rem;
        }
        &:last-child {
          padding-bottom: 1rem;
        }

        &:before {
          content: attr(data-th)':';
          font-weight: bold;
          font-size: 14px;


          width: 6.5em;
          display: inline-block;
         
          @include mq($from: tablet) {
              display: none;
            }
        }
      }
      
      th, td {
        text-align: left;
        padding-left: 1rem;

        @include mq($from: tablet) {
          display: table-cell;
          padding: 1rem 1rem;
          
        }

      } 
    }
    
  }
}
.Login {
  @include mq($from: tablet) {
    @include col(1/4, $gutter: 1);
    padding: 65px 0;
  }
  margin-top: 45px;
  &-header {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: $color-white;
    background-color: $color-secondary;
    font-weight: bold;
    transition: background-color 0.3s $authenticMotion;
    a {
      display: block;
      color: $color-white;
      text-decoration: none;
    }
    &:hover {
      background-color: darken($color-secondary, 5%);
    }
  }
  .tabs {
    position: relative;
    margin: 0;
    @include mq($from: tablet) {
      margin: 1.4rem 0;
    }
    padding: 0;
    list-style: none;

    @include cf();
    &:after {
        display: table;
        clear: both;
        content: "";
    }
    li {
      @include mq($from: tablet) {
        float: left;
        width: 40%;
      }
      display: block;
      &:last-child {
        label {
          border-left: 1px solid #cccccc;
          margin-left: -1px;
        }
      }
    }
    input[type="radio"] {
      display: none;
    }
    label {
      display: block;
      padding: 15px;
      background-color: #f5f5f5; 
      @include mq($from: tablet) {
        padding: 10px;
        background-color: #ddebe1;
        border-right: 1px solid #cccccc;
        color: $color-primary;
        margin-top: 10px;
      }
      font-size: 18px;
      line-height: 1;
      cursor: pointer;
      position: relative;
      text-align: center;
      z-index: 0;
      border-top: 1px solid #cccccc;
      transition: all 0.1s $authenticMotion;
      &:hover {
        background-color: lighten(#ddebe1, 5%);
      }
    }
   .tab-content {
      z-index: 1;
      overflow: hidden;
      width: 100%;
      font-size: 0.9rem;
      line-height: 25px;
      padding: 25px;
      background-color: #f5f5f5; 
      @include mq($from: tablet) {
        display: none; 
        position: absolute;
        background-color: #f5f5f5;
      }
      top: 48.5px;
      left: 0; 
      border-top: 1px solid #cccccc;
      box-shadow: inset 0px 1px 0px 0px $color-white;
      h4 {
        margin: 0.4rem 0;
        font-size: 16px;
        a {
          text-decoration: none;
        }
      }
    }

    [id^="tab"]:checked + label { 
      background-color: #f5f5f5; 
      padding: 15px;
      color: $color-bodycopy;
      position: relative;
      @include mq($from: tablet) {
        border-bottom: 2px solid #f5f5f5;
      }
      box-shadow: inset -1px 1px 0px 0px $color-white;
      z-index: 2;
      margin-top: 0;
      top: 0;
    }
    [id^="tab"]:checked ~ [id^="tab-content"] {
      display: block;
    }
  }

}