@mixin sassy-list($color)
{
  list-style-type: none;
  position: relative;
  margin-left: 1em;
  padding-left: 0;

  li:before {
    content: "\2022";
    position: absolute;
    left: -1em;
    color: $color;
    margin-right: 5px;
  }
}